<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>FakeNews</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a href="https://www.ai-camp.org/" target="_blank">
                  <img src="static/css/aicamplogo.png" alt="AI Camp" width="100" height="100">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="{{url_for('index')}}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('about')}}">About Us</a></li>
                       <li class="nav-item"><a class="nav-link active" href="{{url_for('team')}}">Team Members</a></li>
                       <li class="nav-item"><a class="nav-link" href="{{url_for('chatbot')}}">Chatbot</a></li>
                    </ul>
                </div>
            </div>
        </nav>
<br>
<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-4 col-md-6 mb-4" id = "teamCard">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Samantha Autrey</h5>
          <div class="card-text text-black-50">Developer</div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-4 col-md-6 mb-4" id = "teamCard">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/9UVmlIb0wJU/500x350" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Matthew Zhang</h5>
          <div class="card-text text-black-50">Developer</div>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-xl-4 col-md-6 mb-4" id = "teamCard" id="teamCard">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/sNut2MqSmds/500x350" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Eric Nie</h5>
          <div class="card-text text-black-50">Developer</div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <!-- Team Member 4 -->
    <div class="col-xl-4 col-md-6 mb-4" id="teamCard">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/7u5mwbu7qLg/500x350" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Griffin DesRoches</h5>
          <div class="card-text text-black-50">Developer</div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6 mb-4" id="teamCard">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Lydia Schwartz </h5>
          <div class="card-text text-black-50">Developer</div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6 mb-4" id="teamCard">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Sunil Rufus</h5>
          <div class="card-text text-black-50">Instructor</div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
</div>
<div class="bottombar">
</div>
<!-- /.container -->
</body>
</html>